<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ufmg.crcs"
            name="ConcernReCS">
      </category>
      <view
            category="ufmg.crcs"
            class="ufmg.crcs.ui.views.ConcernReCSView"
            icon="icons/smell.gif"
            id="ufmg.crcs.views.ConcernReCSView"
            name="ConcernReCS">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ufmg.crcs.ui.preferences.ConcernReCSPreferencePage"
            id="ufmg.crcs.preferences.ConcernReCSPreferencePage"
            name="ConcernReCS">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ufmg.crcs.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.resources.fileModificationValidator">
      <fileModificationValidator
            class="concernrecs.FileModificationValidator1">
      </fileModificationValidator>
   </extension>

</plugin>
